<a href="https://colab.research.google.com/github/DaegyuHwang/Python-Basic/blob/main/1_String_List_Tuple_Dic_Set_Bool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
===================
String data type
===================
"""
print("hello world")
print('Python is fun')
print("""life is short,
 you need python""") #'''개 쓰면 wn 없이도 엔터 가능
print('''life is short, you need python''')
print()

hello world
Python is fun
life is short,
 you need python
life is short, you need python

In [ ]:
# 이스케이프 문자: 역슬래쉬(\)를 사용해 문자열 내부에 특정한 문자를 포함시킴
# 참고: \t (문자열 사이에 탭 간격),        \\ (문자\를 그래도 표현하고 싶을때)
# \n (줄바꿈), w' ('출력) \" (" 출력) \\ (\ 출력)

# 문자열 안에 작은따옴표/큰따옴표 있는 경우
A = "Python's favorite food is perl"
print(A)
B = '"Python is very easy." he says.'
print(B)
# 백슬러쉬 사용 \' ('출력)
A2 = 'Python\'s favorite f\tood is perl'
print(A2)
#  \" (" 출력)
B2 = "\"Python is very easy.\" he says."
print(B2)
print()

Python's favorite food is perl
"Python is very easy." he says.
Python's favorite f	ood is perl
"Python is very easy." he says.

In [ ]:
# 여러 줄인 문자열: \n (줄바꿈)
A = "life is too short \n you need python" # \n삽입 #\n 뒤에 문장을 붙여쓰면 앞 공백 사라짐 # ''' 3개 사용하면 그냥 엔터 치면 줄바꿈 됨# w가 아니라 \
print(A)
B = '''
life is too short
you need python
'''
print(B)

print('I love \nyou')

life is too short
 you need python

life is too short
you need python

I love
you

In [ ]:
# \t (문자열 사이에 탭 간격), \\ (문자\를 그래도 표현하고 싶을때)
print("\n줄바꿈\n연습")
print("\t탭키\t연습")
print("\\\\\\ 역슬래쉬 세개 출력")

print("\n\t\"\\를 그대로 출력") # 	"\를 그대로 출력
print(r"\n\t\"\\를 그대로 출력") #     print(r""): 이스케이프 문자를 그대로 출력해줌 #  \n\t\"\\를 그대로 출력
print("\n\t\"\\를 그대로 출력") # 	"\를 그대로 출력 (tab에 의한 공간생김)
print("\n\n\"\\를 그대로  출력") # (\n 작용 후) "\를 그대로  출력
print("\n\"\\를 그대로 출력") # "\를 그대로 출력
print("\t\"\\를 그대로  출력") # 	"\를 그대로 출력 (tab에 의한 공간생김)

줄바꿈
연습
	탭키	연습
\\\ 역슬래쉬 세개 출력

	"\를 그대로 출력
\n\t\"\\를 그대로 출력

	"\를 그대로 출력


"\를 그대로  출력

"\를 그대로 출력
	"\를 그대로  출력

In [ ]:
# 문자열 연산 . 문자끼리 더하는건 가능/ 문자끼리 곱하는거 불가 /문자 더하기 숫자 안됨/ 문자 곱하기 숫자 가능
a= "python"; b=" is fun";  # (나) ; 표시가 끊어주는 역할 # is fun 에서 is 앞에 띄어쓰기 안하면 pythonis fun 이렇게 됨
print(a+b) #python is fun
print(a*2) # pythonpython
print(b*2) # is fun is fun
print("="*50)
print("my program")
print("="*50)

python is fun
pythonpython
 is fun is fun
==================================================
my program
==================================================

In [ ]:
print('%05d' %123) # Adjusting total length

00123

In [ ]:
# print() 함수 d 정수 s 문자
num=3;
text = "I eat %d apples." %num
print(text)
day = 'three' #  주의!!!!!!!!!!! 문자 정의할때는 '' 반드시 넣어줘야함, 숫자는 필요 없음
text2 = "I ate %d apples, so I was sick for %s days." %(3, 'three') # num, day 순서 지켜야 함
print(text2)
text3 = "I ate {1} apples, so I was sick for {0} days.".format(num,'three') # 0하고 1 숫자 자리 를 말함, 만약 1.0 이면 num day순서 바뀜  .format 뒤에거에 맞춰서 앞에 {}안의 숫자를 넣는식으로 함
print(text3)
text4 = "I ate {0} apples, so I was sick for {day} days.".format(num,day=3) #변수선언은 .format 뒤에서 맨 마지막에 나옴
print(text4)
print()
print('I ate', num,'apples, so I was sick for', day,'days')                # 함수 이용안하고 풀기
text5='I ate', num,'apples, so I was sick for', day,'days'
print(text5)

I eat 3 apples.
I ate 3 apples, so I was sick for three days.
I ate three apples, so I was sick for 3 days.
I ate 3 apples, so I was sick for 3 days.

I ate 3 apples, so I was sick for three days
('I ate', 3, 'apples, so I was sick for', 'three', 'days')

In [ ]:
text = "I ate {0} appl{1}" .format(3,'ta') # 따로 정의 안하고 format안에서 바로 인출할때 숫자넣을때는 ''필요 없고 문자넣을때는 ''필요
print(text)
print()

I ate 3 applta

In [ ]:
print("%10s" % "hi") #        hi#   s가공간 공간 10개 만들고 hi 는 뒤 공간부터 들어간다 hi는 두글자이므로 2자리 차지
print("%-10sjane" % "hi") #hi 포함한  공간이 10개: hi        jane / -10s 이면 왼쪽부터 채운다 !

        hi
hi        jane

In [ ]:
# 문자 정렬  #format 하고 f' 밖에 안됨
print("{0:<10}".format('hi')) # 왼쪽 정렬 <    'hi        '
print("{0:>10}".format('hi')) # 오른쪽정렬 >     '        hi'
print("{0:^10}".format('hie')) # 가운데정렬 ^    hi    .   hie    .10개 중에서 3개이면 456칸 먹는다
print("{0:=^10}".format('hi')) # 가운데정렬&공백=로채우기 '====hi===='
print("{0:!<10}".format('hi')) # 왼쪽정렬&공백!로채우기
print("{0:a>10}".format('hi')) # 오른쪽정렬 & 공백!로 채우기    '

hi
        hi
   hie
====hi====
hi!!!!!!!!
aaaaaaaahi

In [ ]:
# Exercise==============================
# 위 문장을 변경하고 format을 이용하여 다음 결과가 나오도록 출력코드를 작성하여라.
# I ate 5!!! apples, so was a sick for ===two==== days

text='I ate {0:!<4} apples, so was a sick for {1:=^10} days'.format(5,'two')
print(text)

I ate 5!!! apples, so was a sick for ===two==== days

In [ ]:
year= input()
print(type(year))
print(type(2.2))
print(type(3))

ㄴㅅ
<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
year= input()
print(type(year))
print(type(2.2))
print(type(3))


year= int(input())
month= int(input())
date= int(input())
day= int(input())


text1= "오늘은 %d년 %d월 %d일 %f입니다." %(year, month, date, day) #f is a real number, 소숫점 6째자리까지 출력
print(text1)

23
<class 'str'>
<class 'float'>
<class 'int'>
23
11
29
29
오늘은 23년 11월 29일 29.000000입니다.

In [ ]:
# f'문자열' 문자열 포맷팅 (따옴표 사용 주의!!!)
print(f'hi')  #hi
print(f'{"hi"}') #hi
# f'{'hi'}' # error (따옴표 혼용해서 쓰면 안됨)
f'{"hi":<10}' #'hi        '
f'{"hi":>10}' #'        hi'
f'{"hi":^10}' # '    hi    '
f'{"hi":=^10}' # '====hi====' #
f'{"hi":!<10}'                     # 'hi!!!!!!!!'
y = 3.42134234;
print(f'{y:0.3f}')  #'3.421' (문자열) / 0.x는 소숫점 x번째 까지만 표시하겠다는 뜻
print(f'{y:<10.4f}') #'    3.4213'  (문자열) / 예를 들어 y.x는 칸이 y개 있다는 뜻# 오른쪽부터 채우기 #마지막 소숫점 뒤에서 반올림 한다! {}이거 안치면 치환 안됨.

y = 3.4215555;
print(f'{y:10.3f}') # 반올림 #3.422

hi
hi
3.421
3.4213
     3.422

In [ ]:

text=f'I ate {5:!<4} apples, so I was sick for {"two":=^10} days.'
print(text)
name = '홍길동'; weight= 48.778
print(f' 나의 이름은 {name}이고 나이는 {weight:.1f}이다.') # weight가 일단은 5글자이므로 5글자보다 작게 ex 3f라 한다면 칸수 무시됨 그냥 전체 출력.

                                                #48.778000 #여기 프로그램에서는 예를 들어 10.4f 하면 반올림 됨

I ate 5!!! apples, so I was sick for ===two==== days.
 나의 이름은 홍길동이고 나이는 48.8이다.

In [ ]:
# 문자열 크기 #컴퓨터는 숫자를 0부터 센다!
a='life is beautiful, enjoy it'
print(len(a))

#문자열 인덱스                                                                        !!!!!!!!!!!!!!!!!!(%이용하여 함수 만들때)이용하려면 문자로 받아야 한다 !!!!!!!!!!!!!!!!!!!!!!!!!!!!
print(a[0]) #첫번째 자리의 문자
print(a[2])
a[-1] #마지막 문자
print(a[-1])
b= a[0]+a[1]+a[3]+a[5] #liei
print(b)
print(a[0:4]) #마지막 인덱스 포함 되지 않음 /life
print(a[19:]) #첫번째 인덱스 포함 됨 /enjoy it /여기서는 마지막 까지 다 출력
print(a[:19]) #마지막 인덱스 포함 되지 않음/life is beautiful,
print(a[:]) # 전체 가져옴                                                                             !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print(a[19:-3]) #enjoy  (-3)뒤에서부터 3번째 자리까지 인듯                 첫번째 인덱스는 포함하는데 마지막 인덱스는 포함하지 않는다 앞에는 0 부터'-'는 맨 뒤에서부터 -1,-2,,,

26
l
f
t
liei
life
enjoyit
life is beautiful,
life is beautiful, enjoyit
enjo

In [ ]:
a='a sx'
a.replace('a','b')
print(a.upper())
print(a)

A SX
a sx

In [ ]:
# 문자열 바꾸기
a="pithon" #python
a= a[0]+ 'y'+a[2:]
print(a)

# 문자열 관련 함수
a ="Python is the best choice"
print(a.count('t')) # 갯수 3
print(a.find('b')) # index /몇번째에 있냐 인듯/ 14
print(a.find('k')) #에러안생기고 -1나옴 (k값이 없다는 의미)!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print(a.index('t')) #제일 처음 나오는 t의 index를 출력 / 요소의 유무를 찾을때 find는 -1, index는 error나온다.
print(a.upper()) #모두 대문자로 upper
print(a.lower()) #모두 소문자로 lower
print(a.replace('Python', 'c++')) #
print(a.split()) #중요  list형식으로 나옴 #['Python', 'is', 'the', 'best', 'choice'] #띄어쓰기 기준이다. print(a.split(' '))과 결과가 같다.


b='a:b:c:d'
print(b.split(':')) #['a', 'b', 'c', 'd']


#문자열 삽입 (join) #모든 칸 사이에 ''안에 있는 것을 넣는다.
print(".".join('abcd')) # a.b.c.d
print('.'.join(b)) #a.:.b.:.c.:.d
print()

print('.'.join(a)) #P.y.t.h.o.n. .i.s. .t.h.e. .b.e.s.t. .c.h.o.i.c.e #띄어쓰기도 한 개의 칸이라생각하고 각칸사이마다. 넣는다
print(' '.join(a)) #Python is the best choice #각 칸 사이에 ''안에 있는 것을 넣는다. 근데 그게 아무것도 없어서 아무것도 안 넣는 거임.

print("".join('abcd')) #abcd #공백없애기#""안에 들어가있는게 없어서 암 것도 안들어감             !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print('.'.join(['a', 'b', 'c', 'd'])) # a.b.c.d
print(''.join(b)) #a:b:c:d

# 문자열 삽입(join): 따옴표 상관없음
text= ['Python', 'is', 'the', 'best', 'choice']
print(".".join(text)) # Python.is.the.best.choice
print("".join(text)) #Pythonisthebestchoice

print(list(b))

python
3
14
-1
2
PYTHON IS THE BEST CHOICE
python is the best choice
c++ is the best choice
['Python', 'is', 'the', 'best', 'choice']
['a', 'b', 'c', 'd']
a.b.c.d
a.:.b.:.c.:.d

P.y.t.h.o.n. .i.s. .t.h.e. .b.e.s.t. .c.h.o.i.c.e
P y t h o n   i s   t h e   b e s t   c h o i c e
abcd
a.b.c.d
a:b:c:d
Python.is.the.best.choice
Pythonisthebestchoice
['a', ':', 'b', ':', 'c', ':', 'd']

In [ ]:
# 문자열 공백 없애기
a = " hi "
b= a.lstrip() #왼쪽공백 없애기
print(b)
b= a.rstrip() #오른쪽 공백 없애기
print(b)
b=a.strip() #양쪽 공백 없애기
print(b)

hi
 hi
hi

In [ ]:
a ="Python is the best choice"
print(a.split())
print(a.split(' '))

['Python', 'is', 'the', 'best', 'choice']
['Python', 'is', 'the', 'best', 'choice']

In [ ]:
#text  이용
text = '%s씨는 %d살이다' %('a',25)
print(text)
#포맷사용
text = '{0}씨는 {1}살이다' .format('A',25)
print(text)
# f이용
b=25
print(f'{"a"}씨는 {b}살이다')

a씨는 25살이다
A씨는 25살이다
a씨는 25살이다

In [ ]:
# Exercise
#1. 홍길동씨의 주민등록번호는 881212-1068234
a='881212-1068234'
b= '홍길동'
#출력 : 홍길동씨는 00년 00월 00일 이다
#1
text= '%s씨는 %s년 %s월 %s일 생이다' %('홍길동',a[0:2],a[2:4],a[4:6])
print(text)
#2
print('{0}씨는 {1}년 {2}월 {3}일 생이다.'. format('홍길동',a[0:2],a[2:4],a[4:6]))
#3
print(f'{b}씨는 {a[0:2]}년 {a[2:4]}월 {a[4:6]}일 생이다')

#예제 하나 더 있는데 못씀 나중에 더하기

홍길동씨는 88년 12월 12일 생이다
홍길동씨는 88년 12월 12일 생이다.
홍길동씨는 88년 12월 12일 생이다

In [ ]:
'''
================================
리스트 자료형
================================
'''

# 대괄호 이용
a=[]
b=[1, 2, 3]
c=['life','is','too','beautiful']
d=[1, 2, 'life', 'is']
e=[1, 2,['life','is']]

# 인덱싱                                  아무때나 사용 가능 문자열에서든 리스트에서든
a = [1, 2, 3, 4, 5]
a[0]
print(a[0]+a[2]) #4
a[-1] # 제일 마지막 요소
print(a[0:2]) # [1, 2]
a[:2] # [1, 2]
a[2:] # [3, 4, 5]

a=[1,2,3,['a','b','c']] #이중 리스트
a[3]
print(a[3]) #['a', 'b', 'c']
a[3][0] #'a'
a[-1][0] # 'a'
a[3][:2] #['a', 'b']

a=[1,2,['a','b',['life','is']]] #삼중 리스트
a[2][2][0] # 'life'


# 리스트 연산 ============================
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b) #[1, 2, 3, 4, 5, 6]
print(b+a) #[4, 5, 6, 1, 2, 3]
a.extend(b)                                                                                       # extend는 print 없이 추가 가능!!!!!!!!!!!!!!!
print(a) #[1, 2, 3, 4, 5, 6]
a.extend([7,8]) # a.append 랑 다르다. a.append([7,8])하면 [1,2,3,4,5,6,[7,8]] 나온다.             # a.extend([7,8])!!!!!!!!!!!!!!!!!!!!!!!!
print(a) #[1, 2, 3, 4, 5, 6, 7, 8]

print(a*3) #[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
print(len(a)) #8
print(a.count(1)) #1
print(a.index(1)) #0
print()



# a=[1, 2, 3, 4, 5, 6, 7, 8]
#a[2] + 'hi' 는 에러생김
a= str(a[2]) + 'hi' # 3hi # str 이 뭐지= str() 해주면 ()안에 있는것의 type을 문자로 바꿔주는 것
print(a)

4
[1, 2]
['a', 'b', 'c']
[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
8
1
0

3hi

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 수정, 삭제, 삽입, 추가, 정렬, 뒤집기, 인덱스 찾기
a=[1, 2, 3, 4, 5, 6, 7, 8]
a[2] = 4; #2번째 요소를 4로 변경  [1, 2, 4, 4, 5, 6, 7, 8]                                            !!!!!
print(a)

del a[1] #1번째 요소를 삭제  [1, 4, 4, 5, 6, 7, 8]
print(a)

a.remove(4) #4를 삭제하는데 제일 첫번째 것만 삭제 [1, 4, 5, 6, 7, 8]
print(a)

a.pop() #제일 마지막 요소를 꺼내서 삭제 [1, 4, 5, 6, 7]
print(a)

a.pop(2) #2번째 요소를 꺼내서 삭제 [1, 4, 6, 7]
print(a)
print()
a.insert(1,2) #1번째 요소에 2를 삽입 [1, 2, 4, 6, 7]  # 기존에서 삭제 안한다 !!!!!
print(a)

a.append(9) #추가 [1, 2, 4, 6, 7, 9] # a.append(9,10,11)처럼 1개 이상의 숫자 더하는거 안됨.
print(a)
a.append([5,6]) #[1, 2, 4, 6, 7, 9, [5, 6]] #[]안에서 여러가지 숫자 넣는거는 가능
print(a)

a= [1,4,3,2]
a.sort() # 크기순 정렬 [1, 2, 3, 4]
print(a)

a=['b','a','c']
a.sort() #문자 순으로 정렬 ['a', 'b', 'c']
print(a)


a=['b','a','c']
a.reverse() #뒤집기 #문자순이 아님? 문자 역순 아니다['c', 'a', 'b']
print(a)

a=[1,4,3,2]
print(a.index(3)) #3의 index # 2 #리스트에서는 find 에러남..

[1, 2, 4, 4, 5, 6, 7, 8]
[1, 4, 4, 5, 6, 7, 8]
[1, 4, 5, 6, 7, 8]
[1, 4, 5, 6, 7]
[1, 4, 6, 7]

[1, 2, 4, 6, 7]
[1, 2, 4, 6, 7, 9]
[1, 2, 4, 6, 7, 9, [5, 6]]
[1, 2, 3, 4]
['a', 'b', 'c']
['c', 'a', 'b']
2

In [ ]:
num=5

print(f'{num}은 오이다')

print('{num}은 {0}오이다'.format('핳', num=5)) # 변수선언이 무조건 뒤에 와야함 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 앞에 들어가는거에는 그냥 {}만 치고 .format 먼저쓰고 나중에 순서 맞추기

print()

print('%c = 2*%c +4'%('y','x'))

5은 오이다
5은 핳오이다

y = 2*x +4

In [ ]:
#2
# a='python:is:the:best'
# 를 이용하여 다음을 출력하시오.
# 출력: C++ is the best

a='python:is:the:best'
print(len(a))
b=a[0:6]+' '+a[7:9]+' '+a[10:13]+' '+a[14:] #a[] 리스트 아닐때도 사용가능 한가봄
print(b)
print(b.replace('python', 'C++'))

18
python is the best
C++ is the best

In [ ]:
#첫번째 방식
a='python:is:the:best'
a=a.split(':') #['python', 'is', 'the', 'best']
a[0]=' C++'
print(" ".join(a))
print()
#두번째 방식 # replace 를 연속으로 쓰는 방법은 안되나봄
a='python:is:the:best'
a=a.replace('python',' C++')                  #이렇게 문자를 다시 정의내주면 가능 !!!!!
print(a.replace(':', ' ')) #replace 두번쓰는거 오류남
#print(b.replace(':',' '))

 C++ is the best

 C++ is the best

In [ ]:
#3
# a=[1,3,5,4,2]
#를 이용하여 [5,4,3,2,1] 출력
#를 이용하여 [5,4,3,2,1] 출력

a=[1,3,5,4,2]
a.sort() #sort 는 print 안에 들어가면 안된다 reverse도 마찬가지 프린트 없이 이어지는 함수들은 프린트 붙여서 써주면 오류남..!!!!!!!!!!
a.reverse
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 2. ['life', 'is', 'too', 'beautiful'] 리스트를
# life is too beautiful 문자열로 출력하기
a=['life', 'is', 'too', 'beautiful']
print(" ".join(a))

life is too beautiful

In [ ]:
# 3. input 함수 사용하여 "교환할 돈은 얼마인가요?" 메세지 뜨게 하고
숫자를 입력받고, 다음과 같은 결과가 출력이 되도록 하세요.
---------------------------
 입력받은 돈은 ***입니다.
 500원짜리 = ** 개
100원짜리 = ** 개
50원짜리 = ** 개
10원짜리 = ** 개
바꾸지 못한 잔돈 = ** 원
-------------------------
 money = int(input('돈을 입력하시오:'))
 c500 = money//500 #몫
 money = money%500 #나머지

In [ ]:
a= 700

print(f'500원짜리 = {a//500}개') #변수 선언 !!!!!!!!!!!!!!!!!!!!!!!!!

print('500원짜리 = {0}개'.format(a//500))

print('500원짜리 = %.d개'%(a//500))

500원짜리 = 1개
500원짜리 = 1개
500원짜리 = 1개

In [ ]:
a= int(input("교환할 돈은 얼마인가요?: "))
print('-'*30)
print(f'입력받은 돈은 {a}입니다.')
print(f'500원짜리 = {a//500}개')
a%=500
print(f'100원짜리 = {a//100}개')
a%=100
print(f'50원짜리 = {a//50}개')
a%=50
print(f'10원짜리 = {a//10}개')
a%=10
print(f'바꾸지 못한 잔돈 = {a}원')

교환할 돈은 얼마인가요?: 735
------------------------------
입력받은 돈은 735입니다.
500원짜리 = 1개
100원짜리 = 2개
50원짜리 = 0개
10원짜리 = 3개
바꾸지 못한 잔돈 = 5원

In [ ]:
money=int(input('교환할 돈은 얼마인가요?'))

print('입력받은 돈은', money, '입니다.')

c500=money//500
print('500원짜리 =', c500,'개')

money%=500
c100=money//100
print('100원짜리 =', c100,' 개')

money%=100
c50=money//50
print('50원짜리 =', c50,'개')

money%=50
c10=money//10
print('10원짜리 =',c10,'개')

money%=10
print('바꾸지 못한 잔돈 =',money,'원')

교환할 돈은 얼마인가요?789
입력받은 돈은 789 입니다.
500원짜리 = 1 개
100원짜리 = 2  개
50원짜리 = 1 개
10원짜리 = 3 개
바꾸지 못한 잔돈 = 9 원

In [ ]:
a= 100; b=50; c=a+b;
print('a','+', 'b','=', c)# 쉼표(,)써야한다
print('a + b =',c)

a + b = 150
a + b = 150

In [ ]:
#1 쪽지시험 유형
a= '100'; b='50'; c=a+b;
print(a,'+',b,'=', c)

a = 4; b=3;
print('a**b', '=', a**b)

a = 21; b=4;
print('a/b =', a/b) #a/b = 5.25
print('b//a =', b//a) #b//a = 0
print('b%a =',b%a) #b%a = 4


a= 15; a +=5; a /=5; a %=5;
print(a)

print(2+2-2*2/2*2) #0.0 #곱하기 나누기 먼저는 같은데 ()없으면 곱하기 나누기 순서대로 쭉 하기 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

a= "python"; print(a*2) #pythonpython

A = "Python is fun \n I enjoy it" #Python is fun (엔터) I enjoy it
print(A)

100 + 50 = 10050
a**b = 64
a/b = 5.25
b//a = 0
b%a = 4
4.0
0.0
pythonpython
Python is fun
 I enjoy it

In [ ]:
#2
#(1)
total = 450; average = 88.79;
text= ' A의 총점은 %d점이고, 평균은 %.2f이다.'%(total,average) # 왜 88까지만 나오지?= int 형식이라 정수라서 그런다.
print(text)

text=' A의 총점은 {0}점이고, 평균은 {1}이다.'.format(total, average)
print(text)
#(2)
num = 2; day = 'one';
text=' I ate {0:!<6} apples, so I was sick for {1:=^9} days.'.format(num,day)
print(text)
print()
#3
print(f' A의 총점은 {total}점이고, 평균은 {average}이다.')

print(f' I ate {num:!<6} apples, so I was sick for {day:=^9} days.')

 A의 총점은 450점이고, 평균은 88.79이다.
 A의 총점은 450점이고, 평균은 88.79이다.
 I ate 2!!!!! apples, so I was sick for ===one=== days.

 A의 총점은 450점이고, 평균은 88.79이다.
 I ate 2!!!!! apples, so I was sick for ===one=== days.

In [ ]:
'''
================================
튜플  자료형 : 변경/삭제 불가능
================================
'''

# () 튜플 [] 리스트 {} dictionary
a = ()
a1 = (1,) #1개의 요소일 때는 반드시 콤마가 필요
a2 = (1, 2, 3)
a3 = 1, 2, 3 # ()생략 가능
a4 = ('a','b', ('ab', 'cd'))

# 인덱싱
a=(1, 2, 'a', 'b')
print(a[0]) #1
print(a[3]) #b
print(a[1:]) #(2, 'a', 'b')

# 더하기, 반복, 길이
a=(1, 2, 'a', 'b')
b=(3,4)
print(a+b) #(1, 2, 'a', 'b', 3, 4)
print(b*3) #(3, 4, 3, 4, 3, 4)
print(len(b)) #2

#
a,b = 'hi', 2
print(a)
print(b)
# exercise
# (1,2,3) 튜플에 4를 추가하여 (1,2,3,4) 만들기
a= (1,2,3)
b=4,
print(a+b) #(1, 2, 3, 4)
a= (1,2,3)
b=4,

#a.extend(4) 튜플에는 append extend 둘다 사용 불가, 리스트에 사용한 것들  사용 불가

1
b
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)
2
hi
2
(1, 2, 3, 4)

In [ ]:
'''
================================
딕셔너리  자료형: key:value 형식
================================
'''
# 딕서녀리 구성 key: value
dic = {'name':'pey', 'phone':'01012341234', 'birth':'1212'}
print(dic['name']) #pey # value 값을 넣으면 오류난다.
print(dic['birth']) #1212

print(dic.keys()) # key #dict_keys(['name', 'phone', 'birth'])#문자의 정의랑 상관 없이 dict_keys([])나온다.
print(list(dic.keys())) # 리스트#['name', 'phone', 'birth']

print(dic.values()) # value #dict_values(['pey', '01012341234', '1212'])
print(list(dic.values())) # 리스트  #['pey', '01012341234', '1212']

print(dic.items()) # (key, value) 쌍 #dict_items([('name', 'pey'), ('phone', '01012341234'), ('birth', '1212')])
print(list(dic.items()))
dic.clear() # 모두 삭제 key삭제
print(dic) #{}


print("="*20)

## dic.get(), key in dic
dic = {'name':'pey', 'phone':'01012341234', 'birth':'1212'}
 #print(dic['nokey']) # error
print(dic.get('nokey')) #None
print(dic.get('name')) #pey       # key 값만 검색 가능 value 값은 None 나온다.!!!!!!!!!
print(dic.get('pey')) #키만 검색가능#None

print('name' in dic) #True          #value 값을 넣으면 False 나온다 !!!!
print('nokey' in dic) #False

pey
1212
dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['pey', '01012341234', '1212'])
['pey', '01012341234', '1212']
dict_items([('name', 'pey'), ('phone', '01012341234'), ('birth', '1212')])
[('name', 'pey'), ('phone', '01012341234'), ('birth', '1212')]
{}
====================
None
pey
None
True
False

In [ ]:
dic={1: 'a'}
dic[3,]=3
dic['h',3]=1
print(dic)

{1: 'a', (3,): 3, ('h', 3): 1}

In [ ]:
# 추가/ 삭제
dic={1: 'a'}
print(dic)    #{1: 'a'}
  #dic[key] = value
dic[2] = 'b' #{1: 'a', 2: 'b'}                    # dic[] 리스트 안에 넣어서 추가, 삭제 한다
print(dic)
dic['name']='jane' #{1: 'a', 2: 'b', 'name': 'jane'}
print(dic)
dic[5]= [1,2,3] #{1: 'a', 2: 'b', 'name': 'jane', 5: [1, 2, 3]}
print(dic)
 ##
print()
print(dic[5]) #[1, 2, 3]
print(dic[5][1]) #2 #순번이 3인 것이 아니라 key가 3인것 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! # 2번째[]에서는 순서 맞다.


# 주의사항
a={1:'a',1:'b'} #key value를 똑같이 하는 경우 앞에 것 무시
print(a) #{1: 'b'}                                                              !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print(a[1]) #b
# a={[1,2]: 'h'}                    #key 갑에는 리스트 불가능 # value 값에는 리스트 가능     !!!!!!!!!!!!!!!!!!!!!!! key 값에는 리스트 불가능 !!!!!!!!! value값에서는 리스트 가능 !!!!!!!!!
a={(1,2):'h'}                      #튜블은 가능!!!!!!!!!!!!!!!!
print(a) #{(1, 2): 'h'}
a[3,4]=7 #{(1, 2): 'h', (3, 4): 7}          #튜플을 딕셔너리 key 값에 넣을때 ()표시 안해줘도 출력값이 ()나온다.
a[(4,5)] =8 #{(1, 2): 'h', (3, 4): 7, (4, 5): 8}
print(a)

#key 값을 튜플 안에 넣고 싶을 때
# 값이 하나이면 끝에 , 넣어주면 다 된다 숫자도 마찮가지 ==> dic[3]--> 3 하고 dic[3,]-->(3,)


#다음 중 오류가 발생하는 경우는?
a['name']='python';
a['a',]='python';#('a',)가 다 들어간다.!!!!!!!!!!!!!!!!!  #{(1, 2): 'h', (3, 4): 7, (4, 5): 8, 'name': 'python', ('a',): 'python', 250: 'python'}
#a([1])='python';오류 발생
a[250]='python';
print(a) #{(1, 2): 'h', (3, 4): 7, (4, 5): 8, 'name': 'python', ('a',): 'python', 250: 'python'}

a['name']= 'g' #{(1, 2): 'h', (3, 4): 7, (4, 5): 8, 'name': 'g', ('a',): 'python', 250: 'python'}
print(a)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'jane'}
{1: 'a', 2: 'b', 'name': 'jane', 5: [1, 2, 3]}

[1, 2, 3]
2
{1: 'b'}
b
{(1, 2): 'h'}
{(1, 2): 'h', (3, 4): 7, (4, 5): 8}
{(1, 2): 'h', (3, 4): 7, (4, 5): 8, 'name': 'python', ('a',): 'python', 250: 'python'}
{(1, 2): 'h', (3, 4): 7, (4, 5): 8, 'name': 'g', ('a',): 'python', 250: 'python'}

In [ ]:

# 다음은 학생들 이름을 key로 하고, 국 영 수 과 성적을 value로 하는 딕셔너리이다.
dic={'홍길동': [100,80,90,88], '문동이': [100,99,97,100]}
#(1) 김철수 학생의 국영수과 성적이 98,87,97,100을 딕셔너리에 넣고,
#(2) 학생이름을 input을 받고, 그 학생의 수학성적과 네 과목의 평균을 구하여라

#출력결과: ***학생의 수학성적은 **점이고, 네 과목의 평균은 **.**이다.

name= input('이름은? ')
a=int(input('국어성적: '))
b=int(input('영어성적: '))
c= int(input('수학성적: '))
d= int(input('과학성적: '))
score={'국어': a, '영어': b, '수학':c, '과학': d}
average= (a+b+c+d)/4

print(f'{name}학생의 수학성적은 {c}점이고, 네 과목의 평균은 {average:.2f}이다.')

이름은? 김철수
국어성적: 98
영어성적: 87
수학성적: 97
과학성적: 100
김철수학생의 수학성적은 97점이고, 네 과목의 평균은 95.50이다.

In [ ]:
# 다음은 학생들 이름을 key로 하고, 국 영 수 과 성적을 value로 하는 딕셔너리이다.
dic={'홍길동': [100,80,90,88], '문동이': [100,99,97,100]}
#(1) 김철수 학생의 국영수과 성적이 98,87,97,100을 딕셔너리에 넣고,
#(2) 학생이름을 input을 받고, 그 학생의 수학성적과 네 과목의 평균을 구하여라

#출력결과: ***학생의 수학성적은 **점이고, 네 과목의 평균은 **.**이다.

dic['김철수']=  [98,87,97,100]
a= input('이름은? ')
b=dic[a][2]                     # b나c를 앞에두지 않고 dic[a][2]먼저 정의하면 에러난다 (예: dic[a]=c) !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
c=dic[a]
average= sum(c)/len(c) #sum 숫자가 아닌 값이 들어갔을 때는 error난다. sum([1,2])이렇게 또는 sum((1,2)) /리스트하고 튜플에서 가능 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!sum(c)/len(c)
print(f'{a}학생의 수학성적은 {b}점이고, 네 과목의 평균은 {average:.1f}이다.')

이름은? 김철수
김철수학생의 수학성적은 97점이고, 네 과목의 평균은 95.5이다.

In [ ]:
print(sum((1,2)))
print(sum([1,2]))
#print(sum(1,2)) / error난다

3
3

In [ ]:
dic={'홍길동': [100,80,90,88], '문동이': [100,99,97,100]}
dic['김철수']=[98,87,97,100]
name= input('학생이름을 적으시오:')
total=dic[name]
math= total[2]
average=sum(total)/len(total) #sum ... len...
print('%s학생의 수학성적은 %d점이고, 네 과목의 평균은 %.2f이다.' %(name,math,average))

학생이름을 적으시오:김철수
김철수학생의 수학성적은 97점이고, 네 과목의 평균은 95.50이다.

In [ ]:
'''
================================
집합  자료형: 중복 불허용, 순서가 없음
================================
'''
# 리스트, 문자열 => 집합  ///

# set에 넣으면  {}안에 출력된다. #print(set(1,2,3)) 이렇게 바로 넣으면 오류난다.

s1 = set([1,2,3]) #{1, 2, 3}
print(s1)
s2 = set('hello') #{'o', 'e', 'l', 'h'}  # 문자열들은 바로 넣어도 오류 안난다.
print(s2)                        #순서가 있는 것인가?= 중복 허용 x, 순서가 없다

# set => 리스트/튜플
l1= list(s1) #[1, 2, 3]
print(l1)
t1 = tuple(s1) #(1, 2, 3)
print(t1)
print(tuple({1,2,3,1})) # (1, 2, 3) 중복 포함 안함  아니다. {} 딕셔너리 자체가 그냥 중복을 포함하지 않는다.  !!!!!!!!!!!!!!!!!


# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6,7])
s2 = set([4,5,6,7,8,9])
print(s1&s2) # 교집합 # {4, 5, 6, 7}
print(s1.intersection(s2)) #{4, 5, 6, 7}                        # (s1&s2) 이거나 (s1.intersection(s2))

print(s1| s2) #합집합 |은 shif \  #{1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s1.union(s2))  #{1, 2, 3, 4, 5, 6, 7, 8, 9}               # (s1|s2) 이거나 (s1.union(s2))

print(s1-s2) #차집합 #{1, 2, 3}
print(s2-s1) #{8, 9}
print(s1.difference(s2)) #{1, 2, 3}                             # (s1-s2) 이거나 (s1.difference(s2))
print(s2.difference(s1)) #{8, 9}                                # (s2-s1) 이거나 (s2.difference(s1))

{1, 2, 3}
{'o', 'e', 'h', 'l'}
[1, 2, 3]
(1, 2, 3)
{4, 5, 6, 7}
{4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9}
{1, 2, 3}
{8, 9}

In [ ]:
s1 = set({1,2,3})
print(s1)
s2 = set((2,3))
print(s2)
print(list({1,2,3}))
print(tuple({1,2,3,1}))
print(list({1,2,3,4,1,2}))
print({1,1})

{1, 2, 3}
{2, 3}
[1, 2, 3]
(1, 2, 3)
[1, 2, 3, 4]
{1}

In [ ]:
# 추가/제거
s1 = set([1,2,3])
s1.add(4) #요소 하나만 추가할때 add
print(s1) #{1, 2, 3, 4}

#update: 요소 여러개 추가할때# ()[]{} 로 되어있는 자료 모두 추가가능
s1.update([4,5]) #{1, 2, 3, 4, 5} #요소라서 중복된거 넣어도 하나만 남음 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print(s1)
s1.remove(2) #{1, 3, 4, 5} # 요소 2를 제거한다.
print(s1)

print('='*50)
## Exercise===================
# 1. a={'A':90, 'B':80, 'C':70}에서 'B'에 해당하는 값 추출하기
#a['B']
a={'A':90, 'B':80, 'C':70}
print(a['B'])

b=set(a)
print(b)

print()
# 2. a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]에서 중복 숫자 제거하고 출력하기
a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b=set(a)
print(list(b))

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 3, 4, 5}
==================================================
80
{'A', 'B', 'C'}

[1, 2, 3, 4, 5]

In [ ]:
a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b=set(a)
print(b)

c=list(b)
print(c)

c.reverse()
print(c)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
'''
================================
불 bool 자료형: 참(true), 거짓(false)
================================
'''
print(1==1)
print(2>=1)
print(2<1)

print('='*50)

a=[1,2,3,4] #true 인동안에만 실행, # a가 정의 된 것만으로도 true/ a가 공백이거나 ()[]{} 숫자가 0 이면 False 가 된다.
while a:
  a.pop()
  print(a)          #[1, 2, 3] 하고 다음에서 또 하나씩 마지막 요소가 사라짐

print(a)

if [1,2,3]:                                             #이거 왜 true => []안에 요소가 있기때문
  print('true')
else:
  print('false')

True
True
False
==================================================
[1, 2, 3]
[1, 2]
[1]
[]
[]
true

In [ ]:

'''
================================
변수를 만드는 여러가지 방법
================================
'''
a, b =('python', 'life')
print(a)
a, b ='python', 'life'
(a,b)='python', 'life'

[a,b]=['python', 'life']

a=b='python'
print(a)
a=3; b=5;
a,b= b,a #a와 b바꾸는 것
print(a)


a,b,c,d,e = 2, 'hi', 'e', 4, 1

python
python
5

In [ ]:
(a,b)='python', 'life'
print(a)

python

In [ ]:
[a,b]=['python', 'life']
print(a)

python