<a href="https://colab.research.google.com/github/DaegyuHwang/Python-Basic/blob/main/2_Conditional_Statement_List_comprehension_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
====================================
Conditional Statement: if
====================================
'''
#if 조건:
#실행문
#else:
# 실행문

# 예제 1 ======================================
money=True          #get a taxi
if money:
    print("get a taxi")
else:
    print("take a walk")

# 비교연산자: # x<y, x==y, x!=y (x와y가 같지 않다) , x>=y
money=2000          #take a walk
if money>=3000:
    print("get a taxi")
else:
    print("take a walk")


# x or y, x and y, not x                             not x 는 x가 아니면 참 이라는 뜻
money=2000; card = True;

if money>=3000 or card: #둘다있을 때 조건 만들고자 하면 and쓰면 됨 # #get a taxi
    print("get a taxi")
else:
    print("take a walk")

# x in 리스트/튜플/문자열 / x not in 리스트/튜플/문자열
pocket = ['paper','cellphone', 'money']

if 'money' in pocket:              #get a taxi
    print("get a taxi")
else:
    print("take a walk")

print('a')
# pass (조건문에서 아무일도 하지 않게 설정)
pocket = ['paper','cellphone', 'money']

if 'money' in pocket:
#  continue 못 쓴다
  pass
else:
    print("take a walk")
print('b')



# elif 구문
pocket = ['paper','cellphone']
card = True;

if 'money' in pocket:
    print("get a taxi")
else:
  if card:
    print("get a taxi")
  else:
    print("take a walk") #get a taxi

#위 아래 같은거임
# elif 구문
pocket = ['paper','cellphone']
card = True;

if 'money' in pocket:
    print("get a taxi")
elif card:
    print("get a taxi") #get a taxi
else:
    print("take a walk")

print()

if 'money' in pocket or card:
    print("get a taxi")
else:
    print("take a walk")

get a taxi
take a walk
get a taxi
get a taxi
a
b
get a taxi
get a taxi

get a taxi

In [ ]:
money=2000; card = True;

if money>=3000 or not card: #둘다있을 때 택시타라고 하면 and쓰면 됨  #get a taxi
    print("get a taxi")
else:
  print('no')

no

In [ ]:

# 예제2 =====================================
import datetime # 모듈 #다른 프로그램으로 부터 데이터 데려오는거
now = datetime.datetime.now() #                                                               !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1

print(now.year,'년', now.month,'월', now.day, '일', now.hour, '시', now.minute, '분', now.second, '초')       #2023 년 3 월 17 일 1 시 18 분 24 초
print("{}년 {}월 {}일 {}시 {}분 {}초".format(now.year, now.month, now.day, now.hour, now.minute, now.second)) #2023년 3월 17일 1시 18분 24초

if now.hour < 12:
    print("현재 시각은 {}시로 오전입니다!".format(now.hour))
else:
     print("현재 시각은 {}시로 오후입니다!".format(now.hour))


## Exercise ================================
##출력결과: 이번 달은 {}월로 {계절}입니다. 를 출력하게끔 if, elif, else이용하여 코딩!
if 3<= now.month <=5 :
  print('이번 달은 {}월로 봄 입니다'.format(now.month))
elif 6<=  now.month <= 8 :
  print('이번 달은 {}월로 여름 입니다'.format(now.month))
elif 9<=  now.month <= 11:
  print('이번 달은 {}월로 가을 입니다'.format(now.month))
else:
  print('이번 달은 {}월로 겨울 입니다'.format(now.month))

#1. input 함수 이용하여 "점수를 입력하세요:" 문구가 나오면 점수를 입력받아(0-100점) 90점 이상이면"A",
#80점 이상이면 "B", 70 점 이상이면 "C", 60점 이상이면 "D", 나머지는 학점 "F"를 준다.:
#출력결과: 당신의 학점은 *입니다.

a=int(input("점수를 입력하세요: "))
if 90<=a<=100 :
  print("당신의 학점은 A입니다")
elif 80<=a<90 :
  print("당신의 학점은 B입니다")
elif 70<=a<80 :
  print("당신의 학점은 C입니다")
elif 60<=a<70 :
  print("당신의 학점은 D입니다")
else:
  print("당신의 학점은 F입니다")

2023 년 4 월 18 일 14 시 25 분 59 초
2023년 4월 18일 14시 25분 59초
현재 시각은 14시로 오후입니다!
이번 달은 4월로 봄 입니다
점수를 입력하세요: 90
당신의 학점은 A입니다

In [ ]:

# 예제2 =====================================
import datetime # 모듈 #다른 프로그램으로 부터 데이터 데려오는거
now = datetime.datetime.now()
print(now)
print(now.month)

2023-04-18 14:26:46.913161
4

In [ ]:
#2. 숫자를 입력받아 짝수면 "{숫자}는 짝수입니다", 홀수면 "{숫자}는 홀수입니다"
num = int(input('숫자를 입력하시오:'))
if num%2==0:
    print('%d는 짝수입니다' %num)
else:
    print('%d는 홀수입니다' %num)

숫자를 입력하시오:0
0는 짝수입니다

In [ ]:
'''
====================================
반복문: while 문
====================================
'''

# 예제 1
tree_hit=0; #나무치는 횟수
while tree_hit<10:
    tree_hit=tree_hit+1 #이거 없으면 계속 돌아감. 중요함. 똑같은 숫자로 돌아감
    print('나무를 %d번 찍었습니다.' %tree_hit)
    if tree_hit==10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [ ]:
tree_hit=1; #나무치는 횟수
while tree_hit<=10:
    #이거 없으면 계속 돌아감. 중요함. 똑같은 숫자로 돌아감
    print('나무를 %d번 찍었습니다.' %tree_hit)
    if tree_hit==10:
        print("나무 넘어갑니다")
    tree_hit=tree_hit+1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [ ]:
# 예제 2
prompt = '''
1. Add
2. Del
3. List
4. Quit
Enter number: '''

number=2
while number!=4:
    print(prompt)
    number=int(input())

1. Add
2. Del
3. List
4. Quit
Enter number:
4

In [ ]:
# 예제 3 : break 사용하여 중지
coffee =10 # 커피갯수
money = 300 # 자판기에 넣을 돈
while money: # 돈이 있는 동안                                         !!!!!!!!!!!!!!!!!!!!!!!!!!!!
    print("돈을 받았으니 커피를 줍니다.")
    coffee -= 1 #coffee = coffee -1
    print('남은 커피의 양은 %d입니다'%coffee)
    if coffee == 0: #브레이크 여기에
      print('커피가 없어요. 안팜.')
      break #이거 안쓰면 계속 돈다 money 가 사실이 되어서 커피 -까지 해서 무한히 반복됨

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0입니다
커피가 없어요. 안팜.

In [ ]:
# 예제 4
coffee = 5 #커피갯수
while True:
  money = int(input('돈을 넣어주세요:'))
  if money == 300:
    print('커피를 줍니다')
    coffee = coffee-1
    print('남은 커피의 양은 %d입니다' %coffee)
  elif money>300:
    print('거스름돈 %d를 주고 커피를 줍니다'%(money-300))
    coffee = coffee-1
    print('남은 커피의 양은 %d입니다' %coffee)

  else:
    print( '돈이 모자랍니다. 커피 안줌')
    print('남은 커피의 양은 %d입니다' %coffee)

  if coffee==0:
    print('커피가 다 떨어졌음. 판매 안함')
    break

In [ ]:
#while True:
#    print('Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.')


# 예제 5: continue 사용
a=0
while a<10 :
  a=a+1
  if a%2==1:
    print(a)

print()

a=0
while a<10 :
  a=a+1
  if a%2==0:
    continue # a에서 if 부분을 넘기겠다
  print(a)

1
3
5
7
9

1
3
5
7
9

In [ ]:
#continue pass 차이점

for i in range(10):
    if i % 2 == 0:
        pass
        print(i)
    else:
        print(i)
print("Done")
# 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 가 프린트

for i in range(10):
    if i % 2 == 0:
        continue
        print(i)
    print(i)
print("Done")
# 1, 3, 5, 7, 9

0
1
2
3
4
5
6
7
8
9
Done
1
3
5
7
9
Done

In [ ]:
# Exercise ==============================
#1. while  문을 이용하여 다음과 같이 *을 표시하는 프로그램을 작성하여라
#*
#**
#***
#****
#*****

a=1
while a<=5 :
  print('*'*a)
  a=a+1

a=0 #시작이 0일때는  a=a+1 을 먼저써줘야함, 순서가 있기에 a<=5로 하면 *6개까지 나옴, 그래서 a<5로 바꿔줘야함
while a<5 :
  a=a+1
  print('*'*a)




#2  while & if  사용하여 1-1000까지의 자연수 주에서 3의 배수인 갯수와 합을 구하여라.
#출력결과 : 1-1000 까지 3의 배수의 갯수는 **이고, 합은 **이다.

a=1 ; count=0; total=0
while a<=1000 :
  if a%3==0 :
     count+=1 #count = count +1
     total+=a #total = total +1
  a+=1 #while 빠져나오면 안됨.
print("1-1000 까지 3의 배수의 갯수는 %d이고, 합은 %d 이다." %(count,total)) #while 빠져나와서 프린트 하기


a=0 ; count1=0; total1=0 #b=count, c=total
while a<1000 :
  a+=1
  if a%3==0 :
     count1+=1
     total1+=a

print("1-1000 까지 3의 배수의 갯수는 %d이고, 합은 %d 이다." %(count1,total1))

#3 1부터 숫자를 하나씩 증가시키면서 더한다: 1, 1+2=3, 1+2+3=6,,,,,
#얼마를 더할때 10000을 넘는지 구해보고, 그때의 값을 구하여라.

i=0; total=0; #i가 1일때는 안된다.
while total<=10000:
  i=i+1
  total=total +i
print('1부터 %d까지의 합은 %d 이다' %(i,total))

*
**
***
****
*****
*
**
***
****
*****
1-1000 까지 3의 배수의 갯수는 333이고, 합은 166833 이다.
1-1000 까지 3의 배수의 갯수는 333이고, 합은 166833 이다.
1부터 141까지의 합은 10011 이다

In [ ]:
num=0;total=0; # while 문은 그 문장에서 숫자 비교할때 바로 사용하고 for문은 모르겠다..... 그냥 range는 for문에서만 사용하자
for a in range(1,1001):
  if a%3==0:
    num+=1
    total+=a
print(f'{num},{total}')

333,166833

In [ ]:
#3 1부터 숫자를 하나씩 증가시키면서 더한다: 1, 1+2=3, 1+2+3=6,,,,,
#얼마를 더할때 10000을 넘는지 구해보고, 그때의 값을 구하여라.                         잘 못했다 다시 해보기 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


a=1
total=1
while True:
  if total<=10000 :
    a+=1
    total+=a
  else :
    print(a, total)
    break




a=1
total=1
while total<=10000 :
    a+=1
    total+=a
print(a, total)

141 10011
141 10011

In [ ]:
#4 while,if  구문 사용하여 사직연산(+,-,*,/)계산하는 프로그램을 만들어라.
#출력결과: (예시) a*b=ab
#사칙연산이 틀리면 "사칙연산 기호가 틀렸습니다" 라고 출력하고 나가기
a=int(intput('숫자(정수)를 입력하세요:'))
b=int(intput('숫자(정수)를 입력하세요:'))


#while  구문 안에: 사칙연산기호를 입력하세요:
while True
  c=input('사칙연산 기호를 입력하세요:')

In [ ]:
#4 while,if  구문 사용하여 사직연산(+,-,*,/)계산하는 프로그램을 만들어라.
#출력결과: (예시) a*b=ab
#사칙연산이 틀리면 "사칙연산 기호가 틀렸습니다" 라고 출력하고 나가기

a=int(input('숫자(정수)를 입력하세요:'))
b=int(input('숫자(정수)를 입력하세요:'))

while True:
  c=input('사칙연산 기호를 입력하세요: ')
  if c=='+' :
    print('a+b=',a+b)
  elif c=='-' :
    print('a-b=',a-b)
  elif c=='*' :
    print('a*b=',a*b)
  elif c=='/' :
    print('a/b=',a/b)
  else:
    print('사칙연산 기호가 틀렸습니다')
    break

숫자(정수)를 입력하세요:3
숫자(정수)를 입력하세요:3
사칙연산 기호를 입력하세요: +
a+b= 6
사칙연산 기호를 입력하세요: ㅇ
사칙연산 기호가 틀렸습니다

In [ ]:
print(17.5+0.5, type(17.5+0.5))

18.0 <class 'float'>

In [ ]:
'''
====================================
반복문: for 문
====================================
'''
#========================
# for 문 + list
#========================
test_list = ['a',' b','c']
for i in test_list:
    print(i)

test_list2 = [1,3,5, 7,9]
for i in test_list2:
    print(i)

print()
a = [(1,2), (3,4), (5,6)]
for (first, second) in a:
    print((first), (second))


print()
a = [(1,2), (3,4), (5,6)]
for i in a :
  print(i)

a
 b
c
1
3
5
7
9

1 2
3 4
5 6

(1, 2)
(3, 4)
(5, 6)

In [ ]:
# Exercise: ======================
#(1) 100이상의 숫자만 프린트
numbers = [123, 104, 4, 17, 87, 800, 99]
for i in numbers:
  if i>=100:
    print(i)# print 아무곳에 적으면 에러남. 왜? 무엇보다 100보다 큰 i 를 출력하기 위해서
print()

#(2) 100이상의 숫자가 몇개인지
numbers = [123, 104, 4, 17, 87,800, 99]
num=0
for a in numbers:
  if a>=100:
    num=num+1
print('100이상의 숫자는 %d개이다' %num)
print()


#(3) 각요소가 몇자리 숫자인지 출력: ***은*자리수 입니다.
for i in numbers:
  print(i,'는',len(str(i)), '자리수입니다' )
  print('%d는 %d자리수 입니다' %(i, len(str(i))))

# print(len(33)) 오류난다. 숫자는 문자로 변환하여 자리수를 세어줘야한다 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
#================================

# 예제 1
marks = [90, 25, 67, 45, 80]
num = 0
for i in marks:
  num=num+1
  if i>=60:
    print('%d번째 학생은 합격입니다.' %num)
  else:
    print('%d번째 학생은 불합격입니다.' %num)

# 출력결과: *번 학생은 (불)합격입니다.

print()
# 예제 2
marks = [90, 25, 67, 45, 80]
number = 0
for i in marks:
  number=number+1
  if i<60: continue #지나가기 pass 와 continue 차이 존재. 어떤 차이 있는지 알기 /pass 는 다음 문장 실행 continue는 루프를 빠져나옴
  print('%d번째 학생은 합격' %number) #print 의 위치에 따라 출력값이 다르다 왜?

# 출력결과: *번 학생 축하합니다. 합격입니다.


print('='*10)

print()
# 예제 2
marks = [90, 25, 67, 45, 80]
number = 0
for i in marks:
  number=number+1
  if i<60:
    pass                                                               #   이면 굳이 pass를 왜 쓰지?????????????????? 애초에 pass가 의미가 없다
    print('yes')
  else: print('%d번째 학생은 합격' %number) #else 안쓰니까 전체 타 출력한다.

print()
number=0
for i in marks :
  number+=1
  if i <60:
    print('yes')
    continue

  else :
    print(f'{number}번째 학생은 합격')

a=0
while a<10 :
  a=a+1
  if a%2==0: continue # a에서 if 부분을 넘기겠다              / continue 있어 스킵된다. pass면 스킵 안된다 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
  print(a)

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

1번째 학생은 합격
3번째 학생은 합격
5번째 학생은 합격
==========

1번째 학생은 합격
yes
3번째 학생은 합격
yes
5번째 학생은 합격

1번째 학생은 합격
yes
3번째 학생은 합격
yes
5번째 학생은 합격
1
3
5
7
9

In [ ]:
#========================
# for 문 + dictionary
#========================

# 예제/ 개수세기                                                                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5 ,4, 9, 7, 4, 8,9,7,2,3];
counter={}
for i in numbers:
  if i in counter:
    counter[i]+=1
  else:
    counter[i]=1
print(counter)

# 출력결과: {1: 2, 2: 3, 6: 1, 8: 2, 4: 3, 3: 2, 9: 3, 5: 1, 7: 2}

{1: 2, 2: 3, 6: 1, 8: 2, 4: 3, 3: 2, 9: 3, 5: 1, 7: 2}

In [ ]:
score=[70,83,92,65,54,75,80,90]
#dic={'A': ,'B': ,'C': } #A는 80이상, B는 70이상 80미만, C는 70미만

In [ ]:
# 연습문제
counter={}
score=[70,83,92,65,54,75,80,90]

#dic={'A': ,'B': ,'C': } #A는 80이상, B는 70이상 80미만, C는 70미만


counter['A']=0; counter['B']=0; counter['C']=0;                           #!!!!!!!!!!!!!!!!!!!!!!!!!!!! 초기에 만들어 놓고 시작해야함
for i in score:
  if i>=80:
      counter['A']=counter['A']+1                                               #[]안에 문자면 ''쓰는거 잊지 말기!!!!!!!!!!!!!!!!!!!!!!
  elif 70<=i<80:
      counter['B']=counter['B']+1
  else:
      counter['C']=counter['C']+1

print(counter)


#1000미만의 자연수 중 3의배수또는 5의 배수의 갯수 와 총합을 구해라

count=0; total=0
for i in range(1,1000):
  if i%3==0 or i%5==0 :
    count+=1
    total+=i
print('합은 %d 이고 갯수는 %d' %(total, count))

i=1
count=0;total=0;
while  i<1000:
  if i%3==0 or i%5==0 :
    count+=1
    total+=i
  i=i+1                                                #여기서 i+=1을 왜 if문 안에 쓰면 안되지?= if문 안에쓰면 조건을 만족해야지만 i가 증가함!!!!!!!!!!!!!
print('합은 %d 이고 갯수는 %d' %(total, count))  # 잘못함 다시 하기

{'A': 4, 'B': 2, 'C': 2}
합은 233168 이고 갯수는 466
합은 233168 이고 갯수는 466

In [ ]:
#1000미만의 자연수 중 3의배수또는 5의 배수의 갯수 와 총합을 구해라
dic={};dic['count']=0;dic['total']=0;
for i in range(1,1000):
  if i%3==0 or i%5==0:
    dic['count']+=1
    dic['total']+=i
print(dic)


i=1
count=0;total=0;
while i <1000:
  if i%3==0 or i%5==0:
    count+=1
    total+=i
  i+=1
print(f'합은{total}이고 갯수는{count}')

{'count': 466, 'total': 233168}
합은233168이고 갯수는466

In [ ]:
#====================================
# range + for 문
#====================================
a= range(10) # 0,1,2,...,9
print(a) #range(0, 10)
a=range(1,11) # 1,2,...,10
a=range(1,11, 2) # 1,3,5,7,9                                                    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

print(list(range(1,11,2)))
print(list(range(1,11,3)))
print(list(range(1,11,4))) # 1, 1+4, 1+4+4, 1+4+4+4,,,

# 예제
for i in range(11):
    print(i)

for i in reversed(range(11)):             #reversede
    print(i)

# 예제: 숫자더하기 (1-10까지 더하기)

total=0
for i in range(1,11):
  total+=i #total=total+i
print(total) # print를 for 안에 쓰면 1,1+2,1+2+3,,,,다 출력된다.

a=range(1,11)
list(a) #index 사용가능 바로.
print(list(a))                                                                          #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
totl=sum(a)
a[0]
a[-1]
print('%d부터 %d까지의 합은 %d 이다.' %(a[0], a[-1], totl))

range(0, 10)
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
0
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1부터 10까지의 합은 55 이다.

In [ ]:

a=range(1,11)                                                                      #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
totl=sum(a)
print(a[0])
print(a[-1])
print(totl)

1
10
55

In [ ]:
print(sum(range(10)))

45

In [ ]:
a=range(1,11)
list(a) #index 사용가능 바로.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

# 앞의 예제
# marks = [90, 25, 67, 45, 80]
# number = 0
# for i in marks:
#  number=number+1
#  if i<60:
#  continue
#  print('yes')
#  print('%d번째 학생은 합격' %number)


marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):                                         #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!range로 구할 생각하기!!!!
  score= marks[i]
  if score < 60: continue
  print('%d번 학생 축하합니다. 합격입니다' %(i+1))                          #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 (i+1)해주는 것 !!!!!!!!!!!!!


for i in range(len(marks)) :
  score=marks[i]
  if score >=60 :
    print(f'{i+1}번 학생 축하합니다')



# 예제:  한줄에 결괏값 출력
for i in range(2,5):
  for j in range(1,5):                                              # 첫번째거 하나에 뒤에 숫자 차례대로 다, 이런 순서로 나간다.
   # print(i*j)
    print(i*j, end= " ") #end 역할=> 엔터 안되게..? sep 라는 것도 있다.  / 각 문장 맨 끝에 나올 것을 의미한다. 만약 /n 이면 일반 문장처럼 다음문장으로 엔터 쳐진다.

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다
1번 학생 축하합니다
3번 학생 축하합니다
5번 학생 축하합니다
2 4 6 8 3 6 9 12 4 8 12 16

In [ ]:
# 예제: 구구단 출력하기
for k in range(2,10):
    for j in range(1, 10):
        print('%d X %d = %d' %(k, j, k*j))

line = ''                                           #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 문자 더하기 문자
for k in range(2,10):
    line = line + ('#   %d단   # '%k)
print(line)   ##   2단   # #   3단   # #   4단   # #   5단   # #   6단   # #   7단   # #   8단   # #   9단   #

In [ ]:
line = ''                                           #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 문자 더하기 문자
for k in range(2,10):
    line = line + (f'#   {k}단   # ')
print(line)

#   2단   # #   3단   # #   4단   # #   5단   # #   6단   # #   7단   # #   8단   # #   9단   #

In [1]:
line = ''
for k in range(2,10):
    line = line + str('#   %d단   # '%k) #str  있어도 되고 없어도 됨
print(line) #print가 for문이랑 같은 열에 있으면 그 for문 전체의 결과를 한번에 출력한다. for문 안에 있으면 하나하나 다 출력한다.



for j in range(1,10):
  line = ''                                                    #line 이 for j 앞에 나오면 이렇게 안만들어짐 왜???????????????? for j로 다시 돌아올때 line 이 다시 정의되기 때문이다.
  for k in range(2, 10):
    line = line + ('%d x %d= %2d   ' %(k, j, k*j)) #2d  2칸 만들어줌 , 2d 뒤에 띄어쓰기 넣어주기 #k와j의 곱하기 순서와 상관없이 먼저나온 for 하나에 뒤에있는 for 전체가 연관된다.
  print(line) # for j=1 에 대한 k 9개가 다 대응되었을 때, print하고 다음 j로 넘어간다.

#   2단   # #   3단   # #   4단   # #   5단   # #   6단   # #   7단   # #   8단   # #   9단   #
2 x 1=  2   3 x 1=  3   4 x 1=  4   5 x 1=  5   6 x 1=  6   7 x 1=  7   8 x 1=  8   9 x 1=  9
2 x 2=  4   3 x 2=  6   4 x 2=  8   5 x 2= 10   6 x 2= 12   7 x 2= 14   8 x 2= 16   9 x 2= 18
2 x 3=  6   3 x 3=  9   4 x 3= 12   5 x 3= 15   6 x 3= 18   7 x 3= 21   8 x 3= 24   9 x 3= 27
2 x 4=  8   3 x 4= 12   4 x 4= 16   5 x 4= 20   6 x 4= 24   7 x 4= 28   8 x 4= 32   9 x 4= 36
2 x 5= 10   3 x 5= 15   4 x 5= 20   5 x 5= 25   6 x 5= 30   7 x 5= 35   8 x 5= 40   9 x 5= 45
2 x 6= 12   3 x 6= 18   4 x 6= 24   5 x 6= 30   6 x 6= 36   7 x 6= 42   8 x 6= 48   9 x 6= 54
2 x 7= 14   3 x 7= 21   4 x 7= 28   5 x 7= 35   6 x 7= 42   7 x 7= 49   8 x 7= 56   9 x 7= 63
2 x 8= 16   3 x 8= 24   4 x 8= 32   5 x 8= 40   6 x 8= 48   7 x 8= 56   8 x 8= 64   9 x 8= 72
2 x 9= 18   3 x 9= 27   4 x 9= 36   5 x 9= 45   6 x 9= 54   7 x 9= 63   8 x 9= 72   9 x 9= 81

In [ ]:
line=''
for i in range(1,10):
  line= line +(f'4 x {i} = {4*i}   ')    # 끝날때 '  하기 전 띄워 주는 거 !!!!!!!!!!!!!!!!!!
print(line)

4 x 1 = 4   4 x 2 = 8   4 x 3 = 12   4 x 4 = 16   4 x 5 = 20   4 x 6 = 24   4 x 7 = 28   4 x 8 = 32   4 x 9 = 36

In [ ]:
# 예제: dictionary
Keys = ['name', 'hp', 'mp', 'level']
values = ['기사', 200, 30, 5]
character = {} # dictionary


for i in range(len(Keys)): # i = 0,1,2,3                                              # 중요 ! 하나씩 대응할때 len() !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  character[Keys[i]]= values[i]                                                   #dic든 리스트든 안에 있는요소 변화시킬때 []사용한다.

print(character)


#출력결과: {'name': '기사', 'hp': 200, 'mp':30, 'level':5)

#연습문제:
#1*99. 2*98, 3*97,,,,,,99*1 중에서 최대가 되는 경우는 어떤 두 숫자를 곱했을 때인지를 찾는 코드를
# for 문 이용하여 작성하기

print(Keys[1])

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}
hp

In [ ]:
Keys = ['name', 'hp', 'mp', 'level']
for i in range(len(Keys)):
  print(Keys[i])

Key = ['name', 'hp', 'mp', 'level']
print(Key[0])

name
hp
mp
level
name

In [ ]:
#연습문제:
#1*99. 2*98, 3*97,,,,,,99*1 중에서 최대가 되는 경우는 어떤 두 숫자를 곱했을 때인지를 찾는 코드를
# for 문 이용하여 작성하기

M=0;
num1=0;num2=0;
for i in range(1,51) :
    j= 100-i
    if i*j> M:
      M= i*j
      num1=i;num2=j
print(M, num1, num2)

2500 50 50

In [ ]:
max_value = 0
max_i = 0
max_j = 0

for i in range(1, 100):
    for j in range(1, 100):
        if i * (100 - i) > max_value:
            max_value = i * (100 - i)
            max_i = i
            max_j = 100 - i

print(f"최대값은 {max_value}이며, {max_i}와 {max_j}를 곱했을 때이다.")

a=0;b=0;
max_value = 0
for i in range(1,51):
  j=100-i
  if max_value < i*j:
     max_value = i*j
     a=i
     b=j
print(f'{a}*{b} 일때 최대값이 {max_value}이다')

최대값은 2500이며, 50와 50를 곱했을 때이다.
50*50 일때 최대값이 2500이다

In [ ]:

#=====================================
# 리스트 내포 사용하기
#=====================================
a = [1,2,3,4]
result = [];
for num in a: #num 이라는게 뒤에 in a 가 있기에 a 안에 있는 요소들을 가리킨다.
    result.append(num*3) #[3, 6, 9, 12]
print(result)

# 리스트 내포(list comprehension)                                     #내가 원하는 것을 []안에 먼저 쓴 후에 for문을 시작하기

result2 = [num*3 for num in a] # :이거 없다 클론 없다.
print(result2)


result3 = [num*3 for num in a if num%2==0] #num 이 짝수이면
print(result3)

result4 = [i*j for i in range(2,10) for j in range(1,10)] # : 클론 없다.
print(result4)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [3]:
a = [1,2,3,4]
b=[]
for i in a:
  b.append(i*2)
print(b)

c = [num*2 for num in a]
print(c)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
## Exercise=================================================

#1. 10명의 학생들의 중간고사 점수는 [70, 60,55,75, 95,90,80,80,85,100]이다.
#for 문을 사용하여 A학급의 평균 점수를 구하고, 90점이 넘는 학생수를 구하여라.
#index  사용하여 구해보기

a= [70, 60,55,75, 95,90,80,80,85,100]
total = 0
c = 0

for i in range(len(a)):
  total += a[i]
  if a[i]> 90:
    c+= 1
print('평균은 %.2f이고 90점이 넘는 학생수는 %d 이다'%(total/len(a), c))

num=0;
for i in range(len(a)):
  if a[i]>90:
    num+=1
print(f'{num},{sum(a)/len(a): .2f}')



#2.[1,2,3,4,5,6,7] 리스트 중에서 홀수에만 2를 곱하여 저장하는 코드를 '리스트 내포'를 사용하여 만들어라

a=[1,2,3,4,5,6,7]
result=[i*2 for i in a if i%2==1]
print(result)

평균은 79.00이고 90점이 넘는 학생수는 2 이다
2, 79.00
[2, 6, 10, 14]

In [ ]:
a='asdfdsafag'
print(list(a))

['a', 's', 'd', 'f', 'd', 's', 'a', 'f', 'a', 'g']

In [ ]:

#1. 10명의 학생들의 중간고사 점수는 [70, 60,55,75, 95,90,80,80,85,100]이다.
#for 문을 사용하여 A학급의 평균 점수를 구하고, 90점이 넘는 학생수를 구하여라.
#index  사용하여 구해보기

score= [70, 60,55,75, 95,90,80,80,85,100]


num=0;
for i in range(len(score)):
  if score[i]>90 :
    num+=1
print(f'평균{sum(score)/len(score)}, 90점 넘는 학생수{num}')

num=0;total=0;
for i in score:
  if i>90:
    num+=1
  total+=i
print(f'평균{total/len(score)} 90점이상 학생수 {num}')


#2. [1,2,3,4,5,6,7] 리스트 중에서 홀수에만 2를 곱하여 저장하는 코드를 '리스트 내포'를 사용하여 만들어라

total=1;
a=[1,2,3,4,5,6,7]
for i in range(len(a)):
  if a[i]%2==1:
    total*=a[i]
print(total)


a=[1,2,3,4,5,6,7]
for i in range(len(a)):
  if a[i]%2==1:
    a[i]*=2
print(a)

a=[1,2,3,4,5,6,7]
result=[i*2 for i in a if i%2==1]
print(result)


total=0;
a=[1,2,3,4,5,6,7]
for i in a:
  if i>5:
    total+=1
print(total)

평균79.0, 90점 넘는 학생수2
평균79.0 90점이상 학생수 2
105
[2, 2, 6, 4, 10, 6, 14]
[2, 6, 10, 14]
2

In [ ]:
'''
=====================================
함수
=====================================
'''
#===함수생성========
def add(a,b):
  return a+b  #reture  은 결과값  # add(a,b) 라는 함수의 정의가 a+b 라고 생각하면 된다.
#===================

# 함수실행
a = 3
b = 4
c = add(a, b) # =a+b
print(c) #7

print(add(3,4)) #7

c = add(b=4, a=3) #7                                                                            !!!!!!!!!!!!!!!!!!!!!!!!!1
print(c)

d= add(4,7) #11
print(d)

e=add(5,1)                #이거는 프린트 안되는데 밑에거는 프린트 된다 !!!!!!!
add(5,1)

7
7
7
11

6

In [ ]:
# 입력값이 없는 함수
def say():
  return 'hi'

a = say()
print(a)#hi
print()


# 결과값이 없는 함수 (return이 없음)  #return 없는데 print 안써주면 진짜 아무것도 안된다. 다 None만 나옴
def add(a,b):
  print('%d + %d = %d'%(a,b,a+b))

add(3,4) #3 + 4 = 7

c= add(3,4) #3 + 4 = 7

print(c)  #none  값이 나옴                                              !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11!!!!!!!!!!!!

print()
print(add(3,4)) #3 + 4 =7 엔터 하고 None값이 나옴                                   !!!!!!!!!!!!!!!!!!!!!!!!!!!!

print('='*20)

def add(a,b):
  print('%d + %d = %d'%(a,b,a+b))
a= add(3,4)
print(add(3,4))       #None
print(a)              #None
print()

def add(a,b):
  (a+b)

a=add(3,4)  #7
print(add(3,4)) #None
print()
print(a) # None

hi

3 + 4 = 7
3 + 4 = 7
None

3 + 4 = 7
None
====================
3 + 4 = 7
3 + 4 = 7
None
None

None

None

In [ ]:
def add(a,b):
  return print('%d + %d = %d'%(a,b,a+b)) #def 안에 return 뒤에 같은 열에 위치한 문장은 실행되지 않는다 !!!! return 과 같은 줄에 있어야만 실행된다
  print('마')

print('마늘')

a= add(3,4)
print()

print(a) # printprint는  None나온다                                                   !!!!!!!!!!!!!!!!!!!!!!!

마늘
3 + 4 = 7

None

In [ ]:
print(print(3))
print()

a= print(3)
print()

print(a)               # print(print(c)) 하면 print(c) 출력되고 다음줄에 none 나옴 !!!!!!!!!!!!!! 만약 a=print(c)라고 하고 print(a)하면 none 하나만 나옴

3
None

3

None

In [ ]:
## Exercise 1. ======================================
#f(x)=x^2+2x+1 에 대한 함수 만들고 f(10)값은?
def f(x):
  return x**2+2*x+1
f(10) #121
print(f(x=10))                          #x를 a 로하면 오류남, 함수 안에서 문자지정할거면 정의된 문자 사용하기 !!!!!!!!!!!!!!!!!!!!!
#print(f(a=10)) error

## Exercise 2. =========================================
# 입력값으로 자연수를 넣고 자연수가 홀수인지 짝수인지 판별해주는 함수 만들기

def a(n):
  if n%2==0:
    print('%d는 짝수'%(n))
  else:
    print('%d는 홀수'%n)
a(121)




def num(x):
  if x%2==0:
    return '짝수'                   # return을 if절 안에 넣어도 된다 !!!!!!!!!!!!!!!
  else :
    return '홀수'

a=num(2)
print(a)
print(num(2))

121
121는 홀수
짝수
짝수

In [ ]:
# 두 개의 값을 return ==================================
def add_and_mul(a,b):
  return a+b, a*b


result =     add_and_mul(3,4)                             # 튜블 안에 있다 !!!!!!!!!!!!!!!!!!!!!!
print(result)

result1, result2 = add_and_mul(3,4)
print(result1, result2)                                         #!!!!!!!!!!!!!!!! 차이점 구분 !!!!!!!!!!!!!

def a(a,b):
  return a+b, a*b
print(a(3,4))

(7, 12)
7 12
(7, 12)

In [ ]:
# return을 만나는 순간 함수를 빠져나감
def say_nick(nick):
  if nick == '바보':
     return
  print('나의 별명은 %s 입니다'%nick)


say_nick('야호') #나의 별명은 야호 입니다
a=say_nick('바보') #함수에서  return을 만나는 순간 함수를 빠져나감. 따라서 실행되지 않음.
print(a) #None 나온다

나의 별명은 야호 입니다
None
4

In [ ]:

#=== 가변매개변수를 받는 함수===============
def add_many(*args): #arguments
  total = 0
  for num in args :
    total+= num
  return total
#===========================================

result= add_many(1,2,3) #6
print(result)
result2 = add_many(1,2,3,4,5,6,7,8,9) #45
print(result2)

## Exercise 1.================================================
# # 전달한 값들을 모두 곱해서 리턴하는 함수 mul을 만들어서, mul(1,2,3,4,5,6,7,8,9) 실행했을 때 뭐나오는지
def mul(*args):
  total = 1                       #0 으로 하면 안된다 !!! 곱하기니까!!!!!!!!!!!!!!!!!!!!!!!!!!!
  for num in args :
    total*=num
  return total

result= mul(1,2,3,4,5,6,7,8,9)
print(result)


## Exercise 2.================================================
# 여러개의 자연수를 입력받아 (예, 1,4,5,6,18,19) 가 홀수인지 짝수인지 판별해주는 함수와 홀수/짝수 갯수를 리턴하는 함수만들기
def a(*args):
  total1 = 0;total2 = 0
  for num in args:
    if num%2==0:
      total1+=1
      print('짝수')
    else:
      total2+=1
      print('홀수')
  return total1, total2

result1=a(1,4,5,6,18,19)
print(result1)

print()
#=== 여러 개의 입력값(가변매개변수포함)을 받는 함수==========                               !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
def add_mul(choice, *args):
  if choice == 'add' :
    total=0
    for i in args:
      total +=i
  elif choice == 'mul' :
    total=1
    for i in args:
      total *=i

  return total #return 에 맞춰서

result= add_mul('add',1,2,3)
print(result)
result= add_mul('mul',1,2,3,4,5)
print(result)

6
45
362880
홀수
짝수
홀수
짝수
짝수
홀수
(3, 3)

6
120

In [ ]:
# 여러개의 자연수를 입력받아 (예, 1,4,5,6,18,19) 가 홀수인지 짝수인지 판별해주는 함수와 홀수/짝수 갯수를 리턴하는 함수만들기

def a(*a):
  total1=0; total2=0
  for i in a:                                                                             #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11
    if i%2==0:
      print(i,'짝수', end=' ')
      total1+=1
    else:
      print(i,'홀수', end=' ')
      total2+=1
  return print('홀', total1, '짝', total2)

a(1,4,5,6,18,19)

1 홀수 4 짝수 5 홀수 6 짝수 18 짝수 19 홀수 홀 3 짝 3

In [ ]:
def mul(*args):
  total = 1
  for num in args :
    total*=num
  return total

c= mul(1,2,3,4,5,6,7,8,9)
print(c)

362880

In [ ]:
def a(*args): #total for  안에 넣으면 초기화가 되어서 1개 밖에 안나옴
  total1 = 0
  total2 = 0
  for num in args:
    if num%2==0:
      total1+=1
      print('%d 짝수'%num)
    else:
      total2+=1
      print('%d 홀수'%num)
  return print('홀수의 갯수는 %d 짝수의 갯수는%d' %(total1, total2)) #return 은 for 나와서 해줘야함
result1=a(1,4,5,6,18,19)

1 홀수
4 짝수
5 홀수
6 짝수
18 짝수
19 홀수
홀수의 갯수는 3 짝수의 갯수는3

In [ ]:
# input 값으로  "name, 학번, 국, 영, 수, 과학 성적"을 입력받아 다음 출력값을 갖도록 하는 함수(함수이름: score)를 만들어라:
def score(a,b,c,d,e,f) :
  score=(a,b,c,d,e,f)
  return print(f'{a}학생({b})은 평균{sum(score[2:])/len(score):.1f}') # len 를 잘못 받음 ! 이거는 튜플에서 리스트로 바꾼 후에 푸는게 유리
#(1)
#a=input('name: ');b=input('학번: ');c=int(input('국어: '));d=int(input('영어: '));e=int(input('수학: '));f=int(input('과학: '))
#score(a,b,c,d,e,f)

print()
score('홍길동', 2020030, 100, 80,90, 70)
print('='*30)
#(2)
def score(a,b,c,d,e,f) :
  score=(a,b,c,d,e,f)
  average= int(sum(score[2:])/len(score))
  return average

a=score('홍길동', 2020030, 100, 80,90, 70)
print(a)


# (1) "score('홍길동', 2020030, 100, 80,90, 70)"를 실행했을 때, 다음 출력결과가 나오도록 하고
# 출력결과: ***학생(학번)은 평균 ***점입니다.
# (2) 평균값을 return하도록 하여라.



def score(name, num, *args):                                         # !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!(a, b, *c)도 가능
  scores = list(args) #[100, 80,90,70]
  average = sum(scores)/len(scores)

  print(f'{name}({num}) 학생은 평균{average:.2f}')
  return average
score('홍길동',2020030, 100, 80, 90, 70)          # average 프린트 안했는데도 나옴 # *args 에서 어디부터 어디까지 args 로 받아지는지 보기???????????????????????????????????

홍길동학생(2020030)은 평균56.7
==============================
56
홍길동(2020030) 학생은 평균85.00

85.0

In [ ]:
def score(name, num, *args):                                         # !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!(a, b, *c)도 가능
  scores = list(args) #[100, 80,90,70]
  print(scores)


score('홍길동',2020030, 100, 80, 90, 70)

[100, 80, 90, 70]

In [ ]:
# 예제1:
def print_n_times(n, *values):
  for i in range(n):          # range()안에들어가야하므로 n은 숫자가 나와야겠다
    for value in values:
      print(value)
    print()


print_n_times(3, 'hi', 'enjoy', 'python')


def print_n_times(n, *values):
  for i in range(n):
    for value in values:
      print(value, end=' ')   # , end=' '


print_n_times(3, 'hi', 'enjoy', 'python')

#가로로 하는거 중요 !!!!!!!!!!!!!!!!

hi
enjoy
python

hi
enjoy
python

hi
enjoy
python

hi enjoy python hi enjoy python hi enjoy python

In [ ]:
# 예제2:
def print_n_times(*values, n):
 for i in range(n):
    for value in values:
      print(value, end=' ')
    print()



# print_n_times('hi','enjoy','python', 3) #error  생긴다. n을 정확하게 정의해주면 된다. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

print_n_times('hi','enjoy','python', n=3)  # 또한 n=3의 위치가 위에 표시한 위치가 아니면 에러난다. 정의해줘도..

hi enjoy python
hi enjoy python
hi enjoy python

In [ ]:
#======================================================
# 매개변수에 초깃값 미리 설정 (제일 마지막에 위치해야함)!!!!!!!???????????????????????????????????????????????????????????????
def say_myself(name, age, man=True):
    print('나의 이름은 %s입니다.' %name)
    print('나이는 %d살입니다.' %age)
    if man:
      print('나는 남자입니다')
    else:
      print('나는 여자입니다')
#=====================================================

say_myself('홍길동', 27) # 따로 말 안하면 True로 인식하나? 매개변수가 뭐지?
say_myself('홍길동', 27, True)
say_myself('홍길순', 25, False)

# 예제:
def test(a, b=10, c=100):
  print(a+b+c)


test(10,20,30)
test(a=10, b=100, c=200) # 설정하면 순서 바꿀 수 있다.
test(c=10,a=100, b=200)
test(10, c=200) #b에는 초기값이 10 들어간다.
test(10)

나의 이름은 홍길동입니다.
나이는 27살입니다.
나는 남자입니다
나의 이름은 홍길동입니다.
나이는 27살입니다.
나는 남자입니다
나의 이름은 홍길순입니다.
나이는 25살입니다.
나는 여자입니다
60
310
310
220
120

In [ ]:
# 예제3:
def print_n_times(*values, n=2):
 for i in range(n):
    for value in values:
      print(value, end=' ')
    print()


print_n_times('hi','enjoy','python', 3) # hi 부터 3까지 다  values로 인식하고 n=2라고 그냥 생각한다.                      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#hi enjoy python 3
print()
print_n_times('hi','enjoy','python', n=3)
#hi enjoy python

## Exercise 1. 오타가 발생하는 코드 찾기:===================
def f2(*values, A, B): #이거는 다 *values로 인식해서 에러생긴다.     함수 쓸때 A,B 지정 안해주면                   !!!!!!!!!!!!!!!!!!!!!!!!!!!!
  print(values)

f2(1,2,3,A=4,B=5) # 이렇게 함수 A=, B=으로 지정해주면 에러 안생김# A,B를 위에서 지정 안해줬는데 함수 사용할 때 A,B를 언급 안하면 오류난다 당연.
f2(1,2,3,B=4,A=5) # 튜블 안에 나온다 !!!!!!!!!! 함수에서 숫자가 여러개이면!!!! 튜블안에서 def a(a,b)일 때 도 마찮가지 !!!!!!!

def f2(*values, A=10, B=20):                                            #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 구분하기
  print(values)
f2(1,2,3,4,5)

def f2(A, B, *values):
  print(values)
f2(1,2,3,4,5)

def f2(A=10, B=20, *values):
  print(values)
f2(1,2,3,4,5)



## Exercise 2. =============================================??????????????????????????????????????????????????????????????????????????????

hi enjoy python 3
hi enjoy python 3

hi enjoy python
hi enjoy python
hi enjoy python
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4, 5)
(3, 4, 5)
(3, 4, 5)

In [ ]:
#===========================================================
## 함수 안에서 선언한 변수의 효력 범위
a=1
def var_test(a):
    a = a+1
    return a

result= var_test(a)                                               #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print(result) #2
print(a) # 1  # a 값은 여전히 1이다. !!!!!!!!!!!!!!!!!!! 함수 안에서만 a가 2로 변한것이기 때문에
print(var_test(3)) #4
print()
## global 명령어*******
a=1
def var_test(): # a값 변화시키려면 ! 함수 밖에서도 !!
    global a
    a = a+1
    return a

var_test()
print(a)

var_test()
print(a)

var_test()                                              # 계속 추가된다 !!!!!!!!!!!!!!
print(a)

2
1
4

2
3
4

In [ ]:
#var_test(3)
#===========================================================
def add(a,b):
  return a+b
result= add(3,4)
print(result)
#==============================================
## lambda 사용하여 함수 만들기 (=def)
#함수이름 =  lamda 변수: 함수 계산
add1 = lambda a, b: a+b
result1 = add1(3,4)
print(result1)

#==============================================

## Exercise ======================================
#1. f(x)=x^2+2x+1을 lamda 이용하여 함수 만들고 f(10) 출력
f= lambda x: x**2+2*x+1 #f(x)라고 하면 안되고 f 만 해야한다.
result = f(10)
print(result)
print(f(10))

#2. lambda 이용하여 입력값을 x= [10,-2,3,4,0]으로 받고 x>0 인 값들만 찾아내는 함수???????????????????????????????????????????????????/
def positive(x):
  a=[]
  for i in x :
    if i>0:
      a.append(i)
  return a

x= [10,-2,3,4,0]
print(positive(x))


x= [10,-2,3,4,0]
#q= lambda x: x>0 이렇게 하면 에러난다, filter 하고 같이 쓰면 에러안나던데...
#q(x)

a=list(filter(lambda x:x>0, x))
print(a)

7
7
121
121
[10, 3, 4]
[10, 3, 4]

In [ ]:
print(abs(-3))
print(all([1,2,3])) #true
print(all([1,2,0])) #false
print(all([]))# ture
print(any([0, ""]))
print(any([]))
print(all('hi'))

3
True
False
True
False
False
True

In [ ]:
'''
========================
내장함수
========================
'''
# abs #절댓값 나옴 !!!!!!
a= abs(-3)
print(a)
# all, any(iterable): 리스트*튜플*딕셔너리*집합*문자열
all([1,2,3]) #true
all([1,2,0]) #false
all([])# true   대문자임                    #왜 true 나오지?????    # 빈 리스트 튜블 나오면 True 출력
                                                              # []()'' 다 element로 취급 안해서 곧바로 return으로 돌아간다!!!!

any([1,2,3,0]) #true
any([0, ""]) # False
any([]) #false

def all(iterable):
  for element in iterable:
    if not element:
      return False
  return True

def any(iterable):
  for element in iterable:
    if element:
      return True
  return False

# [1,2,4,8] => 모든 값들이 양수인지?                                      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# 모두인지 알때는 all
# 하나라도 양수있을 때는 any
a= [1,-2,4,8]
b=all(i>0 for i in a)
print(b)
c=any(i>0 for i in a)
print(c)
print()
a= [1,-2,4,8]
b=all(i>0 for i in a)
c=any(i>0 for i in a)
print(b,c)

3
False
True

False True

In [ ]:
all([1, ""])

False

In [ ]:
a= all([0])
print(a)

print(range(3))

print(all(''))
print(all(('')))
print(all(['']))

print(divmod(7,3))

False
range(0, 3)
True
True
False
(2, 1)

In [ ]:
print(all(['']))

print(all((123,'')))

False
False

In [ ]:
# 짝수만 있는지. 짝수가 하나라도 있는지

a= [1,-2,4,8]
b=all(i%2==0 for i in a)  # False
print(b)
c=any(i%2==0 for i in a)  #True
print(c)



#있는 지 없는지 알아내려면

q=range(1,100)
value=99
print(any(value==i for i in q)) #True



# divmod => (a,b): 몫과 나머지
a=7; b=3;
x=a//b
y=a%b

x, y = divmod(7, 3) # 2 1 #  이렇게 하면 튜플 빼고 나온다?
print(x,y)

a=divmod(7,3) #(2,1)
print(a)

## enumerate: 자료형의 현재 순서와 그 값
for a, i in enumerate(['A', 'B', "C"]): #i, name  튜플 생략입니다.   # for 하고 같이 쓰임 !!!!!!!!!!!!!!!
  print(a, i)

print()
score=[100,90,30,20]
for i, i_score in enumerate(score):
  if i_score >=60:
    print(f'{i+1}번째 학생은 합격입니다')                     # +1 잊지말기 !!!!!!!!!!!!!!!!!!!!!!!!!


## eval(expression): 실행 가능한 문자열을 받아 문자열을 실행한 결괏값을 돌려주는 함수
eval('1+2') # print붙이면 3
eval(" 'hi'+'a' ")      # hia
eval('divmod(7,3)')     # (2,1)                     #튜블 붙여서 나옴

print('hi'+'i')

False
True
True
2 1
(2, 1)
0 A
1 B
2 C

1번째 학생은 합격입니다
2번째 학생은 합격입니다
hii

In [ ]:
a=list((1,2,3))
print(a)

[1, 2, 3]

In [ ]:
x, y = divmod(7, 3) # (2,1) # 튜플 빼고 나온다
print(x,y)

for i, name in enumerate(['A', 'B', "C"]): #i, name  튜플 생략입니다.
  print(i, name)

print()

print(eval('1+2'))
print(eval(" 'hi'+'a' "))
print(eval('divmod(7,3)'))

2 1
0 A
1 B
2 C

3
hia
(2, 1)

In [ ]:

# list
list("python") #['p', 'y', 't', 'h', 'o', 'n']                                        !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
list((1,2,3))  #튜플만 리스트로 바뀜 #[1, 2, 3]
list(range(5))  # [0, 1, 2, 3, 4]
list(range(5,10))  # [5, 6, 7, 8, 9]
list(range(1,10,2)) # [1, 3, 5, 7, 9]
list(range(0,-10,-1)) #[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
list(range(0,-10)) # []

# tuple
tuple("abc") #('a', 'b', 'c')
tuple([1,2,3])  #(1, 2, 3)


# round: 반올림
round(4.6) #5
round(4.2)  #4
round(5.678, 2) # 5.68  #',2 는 소수점 2재짜리 까지 의미 !!!!!!!!!!!!!!!1

# sorted(리스트,문자열,튜플) => list로 반환/ 결과물은 항상 리스트로 나온다 !!!!!!
sorted([3,1,2]) #[1, 2, 3]
sorted(['a','c','b']) # ['a', 'b', 'c']
sorted("zero")  #['e', 'o', 'r', 'z']
sorted((3,2,1)) #[1, 2, 3]



# sum(iterable)
print(sum([1,2,3]))
print(sum((1,2,3)))

print(round(5.578))

6
6
6

In [ ]:
a='hi',2
print(a)

print(2/1)

('hi', 2)
2.0

In [ ]:

q=[1,-3,2,0,-5,6]
a= list(filter(lambda x: x>0, q))
print(a)

[1, 2, 6]

In [ ]:
from re import X

## filter(함수이름, 함수에 들어갈 반복가능한 자료형)====================
# 두번째 인수가 함수에 입력되었을 때 반환 값이  참인 것만 묶어서 돌려줌

q=[1,-3,2,0,-5,6]
result= all(i>0 for i in q)
print(result) # False

result=[i for i in q if i>0]
print(result) #[1, 2, 6]

q=[1,-3,2,0,-5,6]

def positive(*args):
  A=[]
  for i in args:
    if i>0:
      A.append(i)
  return A

a=positive(1,-3,2,0,-5,6)
print(a) #[1, 2, 6]

print()

# filter 이용하여 간단하게 변경
def positive2(x):
  return x>0 #true flase 형식으로 나온다

q=[1,-3,2,0,-5,6]
a= filter(positive2, q) #true값들만 걸러낸다!!!!!!!!!!!!!!!!!!!!
print(a) #<filter object at 0x7f0d94996d00>
b= list(filter(positive2, q))
print(b) #[1, 2, 6]

q=[1,-3,2,0,-5,6]
a= list(filter(lambda x: x>0, q))
print(a)

print()
# lambda 사용하여 변경


c=list(filter(lambda x: x>0, q))
print(c)
#======================================================================

## Exercise ============================================================

#1-10까지의 숫자중에서 홀수만 추출/ 3이상 7미만 추출/ x^2 <50 미만인 추출 해보세요 (filter/lambda 이용) 3개 추출

a=range(1,11)

b=list(filter(lambda x : x%2==1, a))
print(b)

c=list(filter(lambda a: 3<=a<7, a))
print(c)

d= list(filter(lambda a : a**2<50, a))
print(d)

False
[1, 2, 6]
[1, 2, 6]

<filter object at 0x7f4655b024f0>
[1, 2, 6]

[1, 2, 6]
[1, 3, 5, 7, 9]
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def a(x):
  return x%2==0

c=range(1,11)
b=list(filter(a,c))
print(b)

print(a(3))

[2, 4, 6, 8, 10]
False

In [ ]:
def positive2(x):
  return x>0 #true flase 형식으로 나온다

q=[1,-3,2,0,-5,6]
a= filter(positive2, q) #true값들만 걸러낸다
print(a)

<filter object at 0x7f0d94a54070>

In [ ]:
#a={[1,2]:'hi'}
#print(a)

In [ ]:
## map(f, iterable): f=함수, iterable=반복가능한 자료형=================
# 입력받은 자료형의 각 요소를 함수 f가 수행한 결과를 묶어서 돌려줌
num_list = [1,2,3,4] # 입력값 => 결과값 [2,4,6,8]
def two_times(num_list):
  result = []
  for i in num_list:
    result.append(2*i)
  return result

num_list = [1,2,3,4]
result = two_times(num_list) #[2,4,6,8]
print(result)

def a(b):
  c=[]
  for i in b:
    c.append(i*2)
  return c

d=[1,2,3,4]
print(a(d))


# map 이용하여 간단하게 변경 # 변수를 하나밖에 못 만든다
num_list = [1,2,3,4]
a=list(map(lambda x : 2*x, num_list)) #  [2, 4, 6, 8] #대신에 filter 사용하면 결과값 [1,2,3,4]
print(a)
b=list(filter(lambda x : 2*x, num_list)) #[1, 2, 3, 4] # filter는 걸러 내는 것이지 변화시키는 것이 아니다 , 초기 값 그대로 가져온다 !!!!!!
print(b)
# =======================================================================

## Exercise ============================================================
# 1-100까지 자연수를  x 라 할때, 함숫값 f(x)= x^2 + 1을 되돌려주는 함수를 만들어라.                      range   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
a= range (1,101)
b=list(map(lambda x : x**2 + 1,a))
print(b)

def f(*x):
  a=[]
  for i in x:
    a.append(i**2+1)
  return a




#x=range(1,101)
#print(f(x))
#def 에 range 쓸 수 없다 보다

[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8]
[1, 2, 3, 4]
[2, 5, 10, 17, 26, 37, 50, 65, 82, 101, 122, 145, 170, 197, 226, 257, 290, 325, 362, 401, 442, 485, 530, 577, 626, 677, 730, 785, 842, 901, 962, 1025, 1090, 1157, 1226, 1297, 1370, 1445, 1522, 1601, 1682, 1765, 1850, 1937, 2026, 2117, 2210, 2305, 2402, 2501, 2602, 2705, 2810, 2917, 3026, 3137, 3250, 3365, 3482, 3601, 3722, 3845, 3970, 4097, 4226, 4357, 4490, 4625, 4762, 4901, 5042, 5185, 5330, 5477, 5626, 5777, 5930, 6085, 6242, 6401, 6562, 6725, 6890, 7057, 7226, 7397, 7570, 7745, 7922, 8101, 8282, 8465, 8650, 8837, 9026, 9217, 9410, 9605, 9802, 10001]

In [ ]:
def f(x):
  a=[]
  for i in x:
    a.append(i**2+1)
  return a

print(f(range(1,5)))

[2, 5, 10, 17]

In [ ]:
# 1-100까지 자연수를  x 라 할때, 함숫값 f(x)= x^2 + 1을 되돌려주는 함수를 만들어라.

def f(x):
  return print(x**2 + 1)
f(5)

g= lambda x: x**2 + 1
print(g(10))

a=range(1,101)
print(list(map(lambda a: a**2 +1,a)))

def f(x):
  c=[]
  for i in x:
    c.append(i**2 + 1)
  return c


#print(range(1,3))
#print(f(3,6))
print(f(range(3)))
print()

26
101
[2, 5, 10, 17, 26, 37, 50, 65, 82, 101, 122, 145, 170, 197, 226, 257, 290, 325, 362, 401, 442, 485, 530, 577, 626, 677, 730, 785, 842, 901, 962, 1025, 1090, 1157, 1226, 1297, 1370, 1445, 1522, 1601, 1682, 1765, 1850, 1937, 2026, 2117, 2210, 2305, 2402, 2501, 2602, 2705, 2810, 2917, 3026, 3137, 3250, 3365, 3482, 3601, 3722, 3845, 3970, 4097, 4226, 4357, 4490, 4625, 4762, 4901, 5042, 5185, 5330, 5477, 5626, 5777, 5930, 6085, 6242, 6401, 6562, 6725, 6890, 7057, 7226, 7397, 7570, 7745, 7922, 8101, 8282, 8465, 8650, 8837, 9026, 9217, 9410, 9605, 9802, 10001]
range(1, 3)
[1, 2, 5]

In [ ]:
for i in range(1,0):
  print(i)

In [ ]:
def f(x):
  c=[]
  for i in x:
    c.append(i**2 + 1)
  return c

#print(f(1,3,5))
 # range 들어가면 error 난다
#print(f(range(3)))
print(f(range(1,3)))

[2, 5]

In [ ]:
## 반복문으로 팩토리얼 구하기


def factorial(n):
  result = 1
  for i in range(1,n+1):
    result*= i
  return result

n = 5
print('%d!=%d'%(n, factorial(n)))

5!=120

In [ ]:
def fac(x):
  a=1
  for i in range(1,x+1):
    a*=i
  return print(f'{x}!={a}')

fac(5)

5!=120

In [ ]:
#================================================================
#  재귀함수: 자기 자신을 호출하는 것
#================================================================

#================================================================
# (예제) 팩토리얼 구하기 factorial(0)=1, factorial(n)=n*factorial(n-1) :

def factorial2(n):
  if n==0:
    return 1
  else:
    return n*factorial2(n-1)
n = 5
print('%d!=%d'%(n, factorial2(n)))
print(f'{n}!={factorial2(n)}')
print('='*20)

5!=120
5!=120
====================

In [ ]:
a=[1]
a.extend([2])
print(a)
a.append(9)
print(a)

a=[1, 2, 3, 4, 5, 6,7,8]
a.pop(1) # 1번째 요소를 꺼내서 보여주고 삭제
# 결과: 2
print(a)
# 결과: [1, 3, 4, 5, 6, 7, 8]

a='asdfasdghk'
a=list(a)
a.sort()
a.insert(3,' ')
print(''.join(a))

print(a)

[1, 2]
[1, 2, 9]
[1, 3, 4, 5, 6, 7, 8]
aad dfghkss
['a', 'a', 'd', ' ', 'd', 'f', 'g', 'h', 'k', 's', 's']

In [ ]:
#================================================================
## (예제) 독일 수학자 콜라츠(Collatz -> L.) 추측: 주어진 숫자가 짝수면 2로 나눈다.
# 주어진 숫자가 홀수면 3배한 후 1을 더한다.
def collatz(num):             #return  필요없다?
  if num==1:
    return 1
  elif num%2==1:
    print(num, end= ' -> ')
    return collatz(3*num +1)
  else:
    print(num, end= ' -> ')
    return collatz(num//2) # num /2 를 쓰면 에러남, 실수값이라 소수점까지 나와서. num //2 써줘야 함   !!!!!!!!!!!!!!!!11!!!!!!!!!!!!!!!

print(collatz(5))
print(collatz(6))

collatz(7)
print()
collatz(128)
print()
##collatz(129)
#print()


def collatz_count(num):                                     #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  if num==1:
    return 0
  elif num%2==1:
    return collatz_count(3*num +1)+1
  else:
    return collatz_count(num//2)+1





print(f'{collatz_count(7)}회')
print(collatz_count(7), "회")
print(collatz_count(128), "회")
print(collatz_count(129), "회")
print(collatz_count(5))
print()
num=0

5 -> 16 -> 8 -> 4 -> 2 -> 1
6 -> 3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1
7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 ->
128 -> 64 -> 32 -> 16 -> 8 -> 4 -> 2 ->
16회
16 회
7 회
121 회
5

6
23 회
31 회
153 회

In [ ]:

#================================================================
# (예제) 피보나치 수열: 1, 1, a_n=a_(n-1)+a_(n-2)
def fibonacci(n):
    if n==1 or n==2:
      return 1
    else:
      return fibonacci(n-1)+fibonacci(n-2)




n=10
print('fibonaci(%d)=%d'%(n, fibonacci(n)))
print('='*20)

# n=50일때 1시간 넘게 걸림!!

fibonaci(10)=55
====================

In [ ]:
counter = 0           #counter 함수 안에서 정의 안해서 global 안쓰면 에러남
def fibonacci2(n):
    global counter
    counter +=1
    if n==1 or n==2:
      return 1
    else:
      return fibonacci2(n-1)+fibonacci2(n-2)





n=10
fibonacci2(n)

print('fibonacci({0}) 계산에 활용된 덧셈 횟수는 {1}번입니다.'.format(n,counter))
print('='*20)
# fibonacci(10) 계산에 활용된 덧셈 횟수는 109번입니다.
# => 같은 값을 구하는 연산을반복하고 있기 때문에 발생!!!

fibonacci(10) 계산에 활용된 덧셈 횟수는 109번입니다.
====================

In [ ]:
counter = 0           #counter 함수 안에서 정의 안해서 global 안쓰면 에러남
def fibonacci2(n):
    if n==1 or n==2:
      return 0
    else:
      return fibonacci2(n-1)+fibonacci2(n-2) +1

n=10
a=fibonacci2(n)
print(a)

count=0
def collatz_count(num):                                     #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  global count
  count+=1
  if num==1:
    return 0
  elif num%2==1:
    return collatz_count(3*num +1)
  else:
    return collatz_count(num//2)

collatz_count(7)
print(count)

54
17

In [ ]:
#================================================================
## 메모화: 같은 값을 한번만 계산하도록 코드를 수정하기!
#================================================================

dict={1:1,2:1}                #global dic 해도 상관 없다/굳이 안해도 상관 없음
def fibonacci_memo(n):

      if n in dict:
        return dict[n]
      else:
        output = fibonacci_memo(n-1)+fibonacci_memo(n-2)
        dict[n]= output
        return output                                                 #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11

n=50
print('fibonaci(%d)=%d'%(n, fibonacci_memo(n))) # 엄청빠름!!
print()

fibonaci(50)=12586269025

In [ ]:
# Exercise (facotiral 메모화) ==========================================
dict={0:1, 1:1}
def factorial_memo(n):
  if n in dict:
    return dict[n]
  else:
    output= n*factorial_memo(n-1)
    dict[n]= output
    return output


n=10
print(factorial_memo(n))
print('='*20)

3628800
====================